.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutDesc {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vh;
}

.aboutDesc p {
    display: inline-block;
    padding: 1rem;
    flex-wrap: wrap;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
}