.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutDesc {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vh;
}

.aboutDesc > p {
    display: inline-block;
    padding: 1rem;
    flex-wrap: wrap;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
}

@media (max-width: 460px) {
    .aboutContainer {
        padding: 0 .5rem 0 .5rem;
    }

    .aboutDesc {
        width: 100%;
    }

    .technologiesContainer > h2 {
        padding: 0 2rem 0 2rem;
    }

    .techRowOne, .techRowTwo {
        display: grid;
        grid-template-columns: repeat(4, .5fr);
    }
}