.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutDesc {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vh;
}

.aboutDesc > p {
    display: inline-block;
    padding: 1rem;
    flex-wrap: wrap;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
}

.technologiesContainer {
    margin: 2rem;
    font-size: 2rem;
    justify-content: center;
}

.technologiesContainer h2 {
    font-size: 3rem;
    text-align: center;
}

.technologiesContainer svg {
    padding: 2rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .aboutDesc {
        width: 100%;
        padding-bottom: 4rem;
    }

    .aboutDesc > p {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 461px) and (max-width: 768px) {
    .aboutContainer {
        display: grid;
        grid-template-columns: .75fr 3fr .75fr;
    }

    .aboutContainer > h1, .aboutDesc, .technologiesContainer {
        grid-column: 2;
    }

    .aboutContainer > h1 {
        text-align: center;
    }

    .aboutDesc {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .aboutContainer {
        padding: 0 .5rem 0 .5rem;
    }

    .aboutDesc {
        width: 100%;
    }

    .technologiesContainer > h2 {
        padding: 0 2rem 0 2rem;
    }

    .techRowOne, .techRowTwo {
        display: grid;
        grid-template-columns: repeat(4, .5fr);
    }
}