.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin-top: 3rem;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
}

h2 {
    font-size: 2rem;
}

.skillsContainer {
    margin: 2rem;
}

.skillsContainer h2 {
    font-size: 3rem;
}