.homeContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.homeItems {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.homeContainer img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin-top: 1.5rem;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
}

.homeItems > h2 {
    font-size: 2rem;
    padding-bottom: 3rem;
}

.homeItems > p {
    font-size: 1.125rem;
    padding-bottom: 3rem;
}

.homeItems > a {
    padding-bottom: 1rem;
}

.aboutBtn {
    background-color: black;
    color: white;
    transition: transform .2s;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    padding: .5rem;
    cursor: pointer;
}

.aboutBtn:hover {
    transform: scale(1.0625);
}

@media (max-width: 768px) {
    .homeItems > h1 {
        text-align: center;
    }
}

@media (max-width: 460px) {
    .homeContainer {
        display: flex;
        padding: 0 1rem 0 1rem;
    }

    .homeContainer > p {
        padding: 0 1rem 0 1rem;
    }

    .homeItems > h2 {
        text-align: center;
    }
}