.navContainer {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.david, .links, .icons {
    justify-self: center;
    text-decoration: none;
    font-size: 1.5rem;
}

a {
    color: black;
}

.david > a:hover, .links > a:hover, .icons > a:hover {
    color: #a9a9a9;
}

.david > a:visited, .links > a:visited, .icons > a:visited {
    color: black;
}

.david > a:visited:hover, .links > a:visited:hover, .icons > a:visited:hover {
    color: #a9a9a9;
}

.david a, .links a {
    text-decoration: none;
}

.links a, .icons a {
    padding-left: .5rem;
    padding-right: .5rem;
}

@media (max-width: 460px) {
    .david, .icons {
        display: none;
    }

    .navContainer {
        grid-template-columns: repeat(3, .5fr);
    }

    .links {
        grid-column: 1 / span 3;
    }
}