.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
    text-align: center;
}

.projectList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: solid black;
    gap: 20px;
}

.projectOne, .projectTwo, .projectThree, .projectFour {
    border: solid black;
}

.projectImage {
    background-color: #5865F2;
    width: 100%;
}

.nameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameContainer > a {
    text-decoration: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}